:root {
	--beige-clair:#EFECE2;
	--beige-moyen:#E3D2C4;
	--beige-gris:#706F6B;
	--gris-vert:#8A884C;
	--gris-vert-middle:#4A4929;
	--vert-kaki:#33321B	;
	--vert-noir:#0F0F08;
}

/* ----------- Typographie ------------- */

* {
	margin: 0;
	padding: 0;
}
p,a{
	font-family:'Work Sans', sans-serif ;
	color:var(--vert-noir);
}
a:hover{
	text-decoration: underline;
	color: var(--gris-vert);
}

h1,h2{
	font-family: 'Alice', serif;
}

h1.marron{
	color: var(--gris-vert-middle);
}

.beige-clair{
	color: var(--beige-clair);
}

.beige-moyen{
	color: var(--beige-moyen);
}

.kaki{
	background-color: var(--vert-kaki);
}

.gris-vert{
	background-color: var(--gris-vert);
}

.gris-vert:hover {
	background-color: var(--vert-kaki);
}

/* ----------- Header ------------- */

#logo{
	max-width: 250px;
	border: none;
	background-color: transparent;
	margin: 0 auto;
}

nav {
	background-color: var(--beige-clair);
}

.navbar-collapse{
	justify-content: flex-end;
}

.navbar-toggler,
.navbar-toggler{
	border: none;
}

.me-auto{
	margin-right: 0!important;
}

/* ----------- Structure ------------- */

main{
	height: 100%;
}

body{
	background-color: var(--beige-clair);
}

.container-fluid{
	position: relative;
}

.banner{
	overflow: hidden;
	max-width: 100vw;
	filter: brightness(0.5);
	position: absolute;
	z-index: -10;
}

img.bckg-banner{
	object-fit: cover;
	padding: 0;
}


/* ----------- Footer ------------- */


/* ----------- Media ------------- */

/* ----------- Component ------------- */

.btn-cta{
	max-width: 150px;
}

.btn-primary{
	border: none;
}

.splitter{
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--gris-vert);
}